* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

@keyframes pink {
  from {
    opacity: 0.15;
  }

  to {
    opacity: var(--pinkness-intensity);
  }
}

.grid {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.column {
  flex-basis: 100%;
}

.grid-item {
  min-height: 100px;
  width: 100%;
}

h2 {
  margin-top: 0;
}

.toolbar:hover,
.toolbar:focus-within {
  top: 0px;
}

.settings {
  display: flex;
}

.setting input {
  display: block;
}

/*
.grid {
  columns: var(--column-count) var(--column-width);
  column-gap: 4px;
  margin: 4px;
}
*/

.overlay {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: var(--color-1);
  animation: 2s infinite alternate pink;
  pointer-events: none;
}

@media (max-width: 800px) {
  .toolbar {
    top: -210px;
  }
  .settings {
    flex-direction: column;
  }
  .setting input {
    width: 100%;
  }
}
